body{
    background-color: #ceeaf3;
}

header{
    background-color: #add8e6;
    width: 40%;
    margin: auto;
}

header h1{
    text-align: center;
    color: #00678a;
    padding: 10px;
}

#menu{
    background-color: #63d8ff;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#menu li{
    float: left;
}

#menu li a{
    color: black;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

#menu li a:hover{
    transition: 0.5s;
    color: #ffffff;
    background-color: #4197b4;
}

article{
    background-color: #ffffff;
    text-align: justify;
    width: 40%;
    margin: auto;
}

ol{
    padding: 0px;
    margin: 35px;
}

ol li span{
    float: right;
}

ol li{
    border-bottom: 1px solid black;
}

img{
    width: 100%;
}

h2, p{
    margin-left: 20px;
    margin-right: 35px;
}

section{
    text-align: center;
    padding: 10px;
}

#btt{
    text-decoration: none;
    color: #ffffff;
    background-color: #63d8ff;
    border-radius: 5px;
    padding: 7px;
}

#btt:hover{
    transition: 0.5s;
    background-color: #4197b4;
}

footer{
    text-align: center;
    background-color: #add8e6;
    width: 40%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}