body {
    font-family: Verdana, Tahoma, sans-serif, sans-serif;
    background-color: navajowhite
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin: 20px auto;
    padding: 50px;
    text-align: center;
    width: 30%;
    background-color: aliceblue;
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin: 15px 0 8px 0;
  }
  
  input {
    padding: 10px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
  }
  
  #resultado {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }
  